@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary-clr: #82c21d;
    --secondary-clr: #1f2c7f;
    --richblack-clr: #041110;
    --text-clr: #f4f6f5;
    --darktext-clr: #7b8684;
    --darkbg-clr: #082220;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--text-clr);
}

html, body {
    height: 100%;
    width: 100%;
    background-color: var(--darkbg-clr);

    font-family: "Montserrat", serif;

    font-family: "Commissioner", serif;
}

nav {
    position: fixed;
    display: flex;
    align-items: flex-start;
    width: 100%;
    height: 12vh;
    padding: 2vw 10.4vw;
    justify-content: space-between;
    background-color: var(--darkbg-clr);
    z-index: 10;
}

nav #logo {
    cursor: pointer;
}

nav button {
    border-radius: 7px;
    border: none;
    /* margin-right: 0.5vw; */
}

nav button .flex {
    display: flex;
    align-items: center;
    gap: 8px;
}

.outer-cont {
    padding: 12px 20px 12px 20px;
    border: none;
    font-size: 1rem;
    font-weight: 400;
    cursor: pointer;
    position: relative;
    background: linear-gradient(90deg, #82c21d, #2f460a, #82c21d);
    border-radius: 7px;
    color: #f4f6f5;
    transition: all 0.3s ease;
    box-shadow:
        inset 0px 0px 5px #ffffffa9,
        inset 0px 35px 30px #041110,
        0px 5px 10px #0a2e2b;
    text-shadow: 1px 1px 1px #041110;
}

.outer-cont::before {
    content: "";
    position: absolute;
    inset: 0;
    margin: auto;
    border-radius: 7px;
    filter: blur(0);
    z-index: -1;
    box-shadow: none;
    background: conic-gradient(#041110 80deg,
            #9dff00,
            #ffffff,
            #9dff00,
            #041110 280deg);
    transition: all 0.3s ease;
}

.outer-cont:hover::before {
    filter: blur(15px);
}

.outer-cont:active::before {
    filter: blur(5px);
    transform: translateY(1px);
}

.outer-cont:active {
    box-shadow:
        inset 0px 0px 5px #ffffffa9,
        inset 0px 35px 30px #041110;
    margin-top: 3px;
}

/* .nav-part2 {
    display: flex;
    gap: 2vw;
    align-items: flex-start;
    padding: 1vh 0;
    position: relative;
    z-index: 10;
}

.nav-part2 h4 {
    font-size: 0.73vw;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 2.6vw;
}

.nav-part2 h5 {
    margin-bottom: 1vw;
    display: none;
    overflow: hidden;
}

.nav-part2 h5 span {
    font-size: 0.77;
    font-weight: 400;
    display: inline-block;
    transform: translateY(25px);
    cursor: pointer;
} */

#nav-bottom {
    width: 79%;
    height: 0vh;
    position: absolute;
    top: 100%;
    z-index: 9;
    border-bottom: 1px solid var(--text-clr);
    background-color: var(--darkbg-clr);
    cursor: pointer;
}

#page1 {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#page1 h1 {
    font-size: 5.5vw;
    text-transform: uppercase;
    font-weight: 800;
    line-height: 5.5vw;
}

#page1 h2 {
    font-size: 2vw;
    text-transform: uppercase;
    font-weight: 100;
    line-height: 2vw;
    word-spacing: 0.5vw;
}

#page1 h1 svg {
    height: 4.5vw;
    width: 4.5vw;
    border-radius: 50%;
    border: 1px solid var(--primary-clr);
    background-color: #041110;
    padding: 5px;
}

#page1 p {
    font-weight: 300;
    text-align: center;
    margin-top: 8vh;
}

#page1-services {
    display: flex;
    align-items: center;
    justify-content: center;
}

#page1-services h4 {
    font-weight: 400;
    font-size: 1vw;
    text-transform: lowercase;
    padding: 5px 12px;
    border: 1px solid var(--primary-clr);
    border-radius: 7px;
    margin: 5px 5px;
    margin-top: 0.5vw;
}

#page1-services h4:nth-last-child(2) {
    border: none;
    margin: 0;
    padding: 2px;
    margin-top: 0.4vw;
}

#moving-div {
    margin-top: 10vh;
    position: absolute;
    bottom: 3%;
    width: 60%;
    white-space: nowrap;
    padding: 0.5vw;
    overflow: hidden;
    /* z-index: 1; */
}

#moving-div .move {
    display: inline-block;
    animation-name: mobe;
    animation-duration: 12s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

#moving-div .move img {
    height: 4vw;
    margin: 0 1.2vw;
}

@keyframes mobe {
    0% {
        transform: translatex(0);
    }

    100% {
        transform: translatex(-100%);
    }
}

#blur-left {
    height: 100%;
    width: 20%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    background: linear-gradient(to right, #082220, transparent);
}

#blur-right {
    height: 100%;
    width: 20%;
    background: linear-gradient(to right, transparent, #082220);
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
}

#page2 {
    height: 100%;
    width: 100%;
    background-color: var(--darkbg-clr);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

#page2 .portfolio {
    border-radius: 15px;
    height: 100vh;
    width: 86%;
    background-image: url(Desktop\ bg.png);
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.portfolio .page2-center {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1vw;
}

.portfolio .page2-center .icon {
    background-color: var(--text-clr);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3.3vw;
    border-radius: 50%;
    cursor: pointer;
}

.portfolio .page2-center .icon i {
    color: var(--richblack-clr);
    font-size: 2.8vw;
    cursor: pointer;
}

.portfolio .page2-center h5 {
    font-size: 0.8vw;
    font-weight: 700;
    padding: 12px 26px 10px 26px;
    background-color: var(--text-clr);
    color: var(--richblack-clr);
    border-radius: 50px;
    margin-top: 1vw;
    opacity: 0;
    transition: all ease 0.5s;
    text-transform: uppercase;
    transform: translateY(16%);
    cursor: pointer;
}

.portfolio .page2-center:hover h5 {
    opacity: 1;
    transform: translateY(0%);
}

#page2 .portfolio video {
    height: 100%;
    width: 100%;
    position: absolute;
    object-fit: fill;
    transform: scaleX(0.7) scaleY(0);
    border-radius: 15px;
    opacity: 0;
    z-index: 9999;
}

#page2mob {
    display: none;
}

#page3 {
    height: 100%;
    width: 100%;
    background-color: var(--darkbg-clr);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.join-section {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10vh 23vh;
}

.join-section h3 {
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
}

.join-section p {
    margin-top: 2vh;
    font-size: 16px;
    line-height: 18px;
    font-weight: 200;
}

.launch {
    height: 100%;
    width: 31%;
    background-color: var(--richblack-clr);
    border: 1px solid var(--primary-clr);
    padding: 1.5vw;
    border-radius: 15px 15px 0px 35px;
}

.launch img {
    height: 60vh;
    margin-top: 5vh;
}

.team {
    height: 100%;
    width: 31%;
    background-color: var(--richblack-clr);
    border: 1px solid var(--primary-clr);
    border: 1px solid var();
    padding: 1.5vw;
    border-radius: 15px 15px 0px 35px;
}

.team img {
    height: 50vh;
    margin-top: 10vh;
}

.discover {
    height: 100%;
    width: 31%;
    background-color: var(--richblack-clr);
    border: 1px solid var(--primary-clr);
    border: 1px solid var();
    padding: 1.5vw;
    border-radius: 15px 15px 0px 35px;
}

.discover img {
    height: 48vh;
    margin-top: 7vh;
}

#page4 {
    height: 100%;
    width: 100%;
    border-top: 1px solid var(--darktext-clr);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    padding: 1vh 23vh;
}

.topfor {
    height: 8vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    h1 {
        font-size: 48px;
        line-height: 27px;
        font-weight: 700;
        text-align: center;
    }
}

.botmfor {
    height: 12vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0vh 23vh;

    p {
        font-size: 17px;
        line-height: 27px;
        font-weight: 300;
        text-align: center;

    }
}

#page5 {
    height: 100%;
    width: 100%;
    position: relative;
    padding: 1vh 23vh;

    .services-sec {
        height: 60vh;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        /* background-color: #82c21d; */
    }

    .services-left {
        height: 50%;
        width: 65%;
        /* background-color: #37520c; */

        .pg-head {
            height: 35%;
            width: 100%;
            padding: 1vh 1vh;
            /* background-color: #1f2c7f; */
        }

        h1 {
            font-size: 38px;
            font-weight: 600;
            text-transform: capitalize;
        }

        .pg-pera {
            padding: 5vh 0vh 0vh 1vh;
            height: 65%;
            width: 90%;
            /* background-color: #82c21d; */
        }

        p {
            font-size: 17px;
            font-weight: 300;
            line-height: 27px;
        }
    }

    .services-right {
        height: 100%;
        width: 35%;
        /* background-color: #20607d; */
    }
}

#page6 {
    height: 90vh;
    width: 100%;
    position: relative;
    padding: 1vh 23vh;
    border-top: 1px solid var(--darktext-clr);

    .test-cta {
        height: 80%;
        width: 100%;

        .cta-head {
            height: 12%;
            width: 100%;
            margin-top: 1vh;

            h1 {
                font-size: 36px;
                font-weight: 600;
                text-transform: uppercase;
                text-align: center;

            }
        }

        .cta-info {
            height: 100%;
            width: 100%;

            .swiper {
                width: 100%;
                height: 100%;
                padding-right: 12vw;
                padding-bottom: 1vw;
            }

            .swiper-slide {
                height: 100%;
                width: 100%;
                margin-left: 1vh;
                margin-right: 0vh;
                margin-top: 1vh;
                margin-bottom: 1vh;
                text-align: center;
                font-size: 18px;
                background-color: var(--text-clr);
                border-radius: 15px;
                display: flex;
                justify-content: center;
                align-items: center;

                .cta-top {
                    height: 100%;
                    width: 45%;
                    padding: 2vh;

                    img {
                        border-radius: 7px;
                    }
                }

                .cta-botm {
                    height: 95%;
                    width: 55%;
                    border-radius: 15px;
                    padding: 3vh;

                    .botm-head {
                        height: 20%;
                        width: 100%;

                        h1 {
                            font-size: 28px;
                            font-weight: 500;
                            text-transform: uppercase;
                            text-align: left;
                            line-height: 32px;
                            color: var(--richblack-clr);
                        }
                    }

                    .botm-one {
                        margin-top: 3vh;
                        width: 100%;
                        height: 35%;

                        h4 {
                            font-size: 24px;
                            font-weight: 400;
                            text-align: left;
                            line-height: 30px;
                            color: var(--richblack-clr);
                        }

                        p {
                            margin-top: 2vh;
                            font-weight: 300;
                            text-align: left;
                            font-size: 17px;
                            color: var(--richblack-clr);
                        }
                    }

                    .botm-two {
                        margin-top: 3vh;
                        height: 35%;
                        width: 100%;

                        h4 {
                            font-size: 24px;
                            color: var(--richblack-clr);
                            font-weight: 400;
                            text-align: left;
                            line-height: 30px;
                        }

                        p {
                            margin-top: 2vh;
                            font-weight: 300;
                            color: var(--richblack-clr);
                            text-align: left;
                            font-size: 17px;
                        }
                    }
                }
            }

            .swiper-slide img {
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .cta-btn {
            height: 15%;
            width: 100%;
            padding-top: 2.5vh;
            padding-left: 42%;
            padding-right: 40%;

            .flex {
                display: flex;
                align-items: center;
                gap: 12px;
            }

            .outer-cont {
                padding: 12px 50px 12px 45px;
                border: none;
                font-size: 1rem;
                font-weight: 400;
                cursor: pointer;
                position: relative;
                background: linear-gradient(90deg, #82c21d, #2f460a, #82c21d);
                border-radius: 7px;
                color: #f4f6f5;
                transition: all 0.3s ease;
                box-shadow:
                    inset 0px 0px 5px #ffffffa9,
                    inset 0px 35px 30px #041110,
                    0px 5px 10px #0a2e2b;
                text-shadow: 1px 1px 1px #041110;
            }

            .outer-cont::before {
                content: "";
                position: absolute;
                inset: 0;
                margin: auto;
                border-radius: 7px;
                filter: blur(0);
                z-index: -1;
                box-shadow: none;
                background: conic-gradient(#041110 80deg,
                        #9dff00,
                        #ffffff,
                        #9dff00,
                        #041110 280deg);
                transition: all 0.3s ease;
            }

            .outer-cont:hover::before {
                filter: blur(15px);
            }

            .outer-cont:active::before {
                filter: blur(5px);
                transform: translateY(1px);
            }

            .outer-cont:active {
                box-shadow:
                    inset 0px 0px 5px #ffffffa9,
                    inset 0px 35px 30px #041110;
                margin-top: 3px;
            }

        }
    }
}

.swiper-button-next, .swiper-button-prev {
    height: 55px;
    width: 55px;
    border-radius: 15%;
    border: 1px solid rgb(255, 255, 255);
    background-color: var(--secondary-clr);
}

#page7{
    margin-top: 8vh;
    height: 90vh;
    width: 100%;
    position: relative;
    padding: 1vh 40vh;
}

.fom{
    height: 100%;
    width: 100%;
}

input:focus,
textarea:focus {
    outline: 0;
}

.form-head{
    height: 20vh;
    width: 100%;
    padding: 1vh 10vh;

    h1{
        font-size: 42px;
        text-transform: capitalize;
        font-weight: 600;
        font-family: "Montserrat", serif, "Commissioner", serif;
        margin-bottom: 1vh;
    }

    p{
        font-size: 16px;
        font-weight: 400;
        line-height: 27px;
        font-family: "Montserrat", serif, "Commissioner", serif;
    }
}

.input-sec{
    height: 68vh;
    width: 100%;
    padding: 1vh 10vh;
}

.input-sec .fom-nam {
    width: 100%;
    height: 8vh;
    margin-bottom: 5vh;
}

.input-sec .fom-nam input {
    width: 100%;
    height: 8vh;
    border-radius: 7px;
    padding: 2vh 2vh;
    font-size: 16px;
    border: none;
    background-color: var(--text-clr);
    color: var(--richblack-clr);
    font-family: "Montserrat", serif, "Commissioner", serif;
}

.input-sec .fom-mid {
    width: 100%;
    height: 8vh;
    margin-bottom: 5vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.fom-mid .fom-mbox input {
    width: 350px;
    height: 8vh;
    border-radius: 7px;
    padding: 2vh 2vh;
    font-size: 16px;
    border: none;
    background-color: var(--text-clr);
    color: var(--richblack-clr);
    font-family: "Montserrat", serif, "Commissioner", serif;
}

.fom-mid .fom-nbox input {
    width: 350px;
    height: 8vh;
    border-radius: 7px;
    padding: 2vh 2vh;
    font-size: 16px;
    border: none;
    background-color: var(--text-clr);
    color: var(--richblack-clr);
    font-family: "Montserrat", serif, "Commissioner", serif;
}

.input-sec textarea {
    max-height: 24vh;
    padding: 2vh 2vh;
    border: 0;
    width: 100%;
    font-size: 16px;
    background-color: white;
    color: var(--darktext-clr);
    border-radius: 7px;
    font-family: "Montserrat", serif, "Commissioner", serif;
}

.input-sec .fom-smit {
    margin-top: 5vh;
    width: 100%;
    height: 8vh;
    display: flex;
    justify-content: end;
}

.input-sec .fom-smit input {
    padding: 12px 45px 10px 45px;
    border: none;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
    position: relative;
    font-family: "Montserrat", serif, "Commissioner", serif;
    text-transform: uppercase;
    font-weight: 500;
    background: linear-gradient(90deg, #82c21d, #2f460a, #82c21d);
    border-radius: 7px;
    color: #f4f6f5;
    transition: all 0.3s ease;
    box-shadow:
        inset 0px 0px 5px #ffffffa9,
        inset 0px 35px 30px #041110,
        0px 5px 10px #0a2e2b;
    text-shadow: 1px 1px 1px #041110;
}

.input-sec .fom-smit input::before {
    content: "";
    position: absolute;
    inset: 0;
    margin: auto;
    border-radius: 7px;
    filter: blur(0);
    z-index: -1;
    box-shadow: none;
    background: conic-gradient(#041110 80deg,
            #9dff00,
            #ffffff,
            #9dff00,
            #041110 280deg);
    transition: all 0.3s ease;
}

.input-sec .fom-smit input:hover::before {
    filter: blur(15px);
}

.input-sec .fom-smit input:active::before {
    filter: blur(5px);
    transform: translateY(1px);
}

.input-sec .fom-smit input:active {
    box-shadow:
        inset 0px 0px 5px #ffffffa9,
        inset 0px 35px 30px #041110;
    margin-top: 3px;
}

#page8 {
    height: 90vh;
    width: 100%;
    position: relative;
    padding: 1vh 23vh;
}

@media (min-width: 320px) and (max-width: 1080px) {

    nav {
        width: 100%;
        height: 10vh;
        flex-wrap: wrap-reverse;
        align-content: center;
        justify-items: center;
        padding: 3px 0px;
    }

    nav #logo {
        margin-left: 16px;
    }

    nav button {
        border-radius: 7px;
        border: none;
        margin-right: 2vw;
    }

    /* nav button {
        width: 36%;
        height: 44px;
        border-radius: 7px;
        font-size: 3.8vw;
        font-weight: 700;
        cursor: pointer;
        padding: 0px 0px 0px 14px;
        margin-right: 16px;
        margin-bottom: 7px;
    }

    nav button svg {
        height: 3.8vw;
    } */

    #nav-bottom {
        width: 100%;
        height: 0vh;
        border-bottom: 1px solid var(--text-clr);
        background-color: var(--darkbg-clr);
    }

    #page1 h1 {
        font-size: 7vw;
        line-height: 3.5vh;
        font-weight: 700;
    }

    #page1 h1 svg {
        height: 6vw;
        width: 6vw;
        padding: 3px;
    }

    #page1 h2 {
        font-size: 4vw;
        line-height: 3vh;
        font-weight: 100;
        text-align: center;
    }

    #page1 p {
        font-size: 4vw;
        font-weight: 400;
        width: 85%;
    }

    #page1-services {
        flex-direction: row;
        width: 100%;
    }

    #page1-services h4 {
        font-weight: 300;
        font-size: 3vw;
        text-transform: lowercase;
        padding: 5px 12px;
        border: 1px solid var(--primary-clr);
        border-radius: 7px;
        margin: 3px 3px;
        margin-top: 1vw;
    }

    #moving-div {
        width: 100%;
    }

    #moving-div .move img {
        height: 12vh;
    }

    #page2 {
        display: none;
    }

    #page2mob {
        height: 100%;
        width: 100%;
        background-color: var(--darkbg-clr);
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
    }

    #page2mob .portfolio {
        border-radius: 7px;
        height: 100vh;
        width: 100%;
        background-image: url(Mobile\ bg.png);
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
    }

    #page2mob .portfolio .page2mob-center .icon {
        background-color: var(--text-clr);
        display: flex;
        align-items: center;
        justify-content: center;
        /* padding: auto; */
        padding: 35px;
        border-radius: 100%;
        cursor: pointer;
        opacity: 0.9;
    }

    #page2mob .portfolio .page2mob-center .icon i {
        color: var(--richblack-clr);
        font-size: 45px;
        cursor: pointer;
    }

    #page2mob .portfolio .page2mob-center h5 {
        font-size: 3vw;
        font-weight: 700;
        padding: 8px 12px 8px 12px;
        background-color: var(--text-clr);
        color: var(--richblack-clr);
        border-radius: 50px;
        margin-top: 1vw;
        opacity: 1;
        transition: all ease 0.5s;
        text-transform: uppercase;
        transform: translateY(16%);
        cursor: pointer;
    }

    #page2mob .portfolio video {
        height: 100%;
        width: 100%;
        position: absolute;
        object-fit: fill;
        transform: scaleX(0.7) scaleY(0);
        border-radius: 15px;
        opacity: 0;
        z-index: 9999;
    }

    #page3 {
        height: 100%;
        width: 100%;
        flex-direction: column;
        position: relative;
    }

    .join-section {
        height: 100%;
        width: 100%;
        flex-direction: column;
        padding: 10vh 0vh;
        justify-items: space-between;
    }

    .join-section h3 {
        font-size: 18px;
        font-weight: 400;
        line-height: 27px;
    }

    .join-section p {
        margin-top: 2vh;
        font-size: 16px;
        line-height: 18px;
    }

    .launch {
        min-height: 70%;
        width: 84vw;
        background-color: var(--richblack-clr);
        border: 1px solid var(--primary-clr);
        margin-bottom: 5vh;
        padding: 3vw;
    }

    .launch img {
        height: 40vh;
        margin-top: 1.5vh;
    }

    .team {
        min-height: 70%;
        width: 84vw;
        background-color: var(--richblack-clr);
        border: 1px solid var(--primary-clr);
        margin-bottom: 5vh;
        padding: 3vw;
    }

    .team img {
        height: 40vh;
        margin-top: 5vh;
    }

    .discover {
        min-height: 70%;
        width: 84vw;
        background-color: var(--richblack-clr);
        border: 1px solid var(--primary-clr);
        padding: 3vw;
    }

    .discover img {
        height: 38vh;
        margin-top: 1.5vh;
    }

    #page4 {
        height: 100%;
        width: 100%;
        flex-direction: column;
        position: relative;
        padding: 1vh 0vh;

        .topfor {
            height: 7vh;
            width: 100%;
        }

        .botmfor {
            height: 20vh;
            width: 100%;
            padding: 0vh 2.8vh;

            p {
                text-align: left;
            }
        }
    }

    #page5 {
        height: 100%;
        width: 100%;
        padding: 1vh 2vh;

        .services-sec {
            height: 70vh;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column-reverse;
            padding: 0vh 0vh;
        }

        .services-left {
            height: 35%;
            width: 100%;

            .pg-head {
                height: 25%;
                width: 100%;
                padding: 1vh 0vh;
            }

            h1 {
                font-size: 26px;
                font-weight: 700;
                text-transform: capitalize;
            }

            .pg-pera {
                padding: 2vh 0vh;
                height: 75%;
                width: 100%;
            }

            p {
                font-size: 17px;
                font-weight: 300;
            }
        }

        .services-right {
            margin: 0vh 0vh 0vh 0vh;
            height: 65%;
            width: 100%;
        }
    }

    #page6 {
        margin-top: 5vh;
        height: 100%;
        width: 100vw;
        padding: 2vh 1vh;

        .swiper {
            width: 100vw;
            height: 60vh;
        }

        .test-cta {

            .cta-head {
                margin-bottom: 1vh;

                h1 {
                    font-size: 23px;
                    text-transform: uppercase;
                    text-align: center;
                }
            }

            .cta-info .swiper-slide {
                flex-direction: column;

                .cta-top {
                    height: 100%;
                    width: 100%;
                    padding-top: 0vh;
                    padding: 2vh;

                    img {
                        border-radius: 7px;
                        object-fit: cover;
                    }
                }

                .cta-botm {
                    height: 100%;
                    width: 100%;
                    padding: 2vh;

                    .botm-head {
                        height: 20%;
                        width: 100%;

                        h1 {
                            font-size: 18px;
                            font-weight: 600;
                            text-transform: uppercase;
                            text-align: left;
                            line-height: 18px;
                        }
                    }

                    .botm-one {
                        margin-top: 1vh;
                        width: 100%;
                        height: 35%;

                        h4 {
                            text-align: left;
                            line-height: 30px;
                            font-size: 20px;
                        }

                        p {
                            margin-top: 1vh;
                            text-align: left;
                        }
                    }

                    .botm-two {
                        margin-top: 1vh;
                        width: 100%;
                        height: 35%;

                        h4 {
                            text-align: left;
                            line-height: 30px;
                            font-size: 20px;
                        }

                        p {
                            margin-top: 1vh;
                            text-align: left;
                        }
                    }
                }
            }

            .cta-btn {
                width: 100%;
                padding-top: 1.5vh;
                margin-bottom: 1vh;
                padding-left: 21.5%;
                padding-right: 21.5%;
            }
        }

    }

    #page7{
        height: 100vh;
        width: 100%;
        padding: 2vh 1vh;
        margin-top: 5vh;
    }

    .form-head{
        height: 24vh;
        width: 100%;
        padding: 1vh 2vh;

        h1{
            font-size: 32px;
            text-transform: capitalize;
            font-weight: 600;
            margin-bottom: 0.5vh;
        }
    
        p{
            font-size: 16px;
            font-weight: 400;
            line-height: 21px;
        }
    }

    .input-sec{
        height: 72vh;
        width: 100%;
        padding: 1vh 2vh;
    }

    .input-sec .fom-nam{
        margin-bottom: 0vh;
    }

    .input-sec .fom-mid {
        width: 100%;
        height: 10vh;
        display: flex;
        flex-direction: column;
        gap: 2vh;
        margin-bottom: 10vh;
        margin-top: 2vh;
    }

    .fom-mid .fom-mbox input {
        width: 100%;
    }

    .fom-mid .fom-nbox input {
        width: 100%;
    }

    .input-sec textarea {
        max-height: 30vh;
        margin-top: 0vh;
        margin-bottom: 3vh;
    }

    .input-sec .fom-smit {
        margin-top: 0vh;
    }

}